* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p,
a {
	font-size: 14px;
}

@media screen and (min-width: 376px) {
	p,
	a {
		font-size: 16px;
	}
}

a {
	text-decoration: none;
	letter-spacing: 1px;
}

.container {
	padding-left: 10px;
	padding-right: 10px;
}

@media screen and (min-width: 376px) {
	.container {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

/* NAV */
nav {
	background-color: goldenrod;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav i {
	font-size: 22px;
}

nav ul {
	display: none;
	list-style: none;
}

nav ul li {
	padding-top: 1rem;
}

@media screen and (min-width: 376px) {
	nav i {
		display: none !important;
	}
	nav ul {
		display: flex;
	}
	nav ul li {
		margin-right: 1.2rem;
	}
}

/* CARD */
.card {
	border: 2px solid blue;
	border-radius: 8px;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	min-height: 250px;
}

.card .head {
	border-bottom: 2px solid blue;
	padding-bottom: 20px;
	padding-top: 20px;
	height: 165px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: grey;
}

.card img {
	width: 150px;
	margin: 0 auto;
	display: block;
}

.card h3,
.card p {
	text-align: center;
}

main section {
	padding: 10px;
}

/* FOOTER */
footer {
	text-align: center;
	background-color: goldenrod;
	padding-bottom: 20px;
	padding-top: 20px;
}
