html, body{
    margin: 0;
    padding: 0;
    font-size: 14px
}

a {
    opacity: 0;
}

@media screen and (min-width: 700px) {
    body {
        font-size: 12px;
    }

    p {
        max-width: 650px;
        text-align: center;
        margin: 0 auto;
    }

    a {
        opacity: 1;
    }
}

@media screen and (min-width: 1024px) {
    p {
        max-width: 1000px;
    }
}

img {
    width: 100vw;
}