html,
body {
	margin: 0;
	padding: 0;
}

img[alt='sk-logo'],
img[alt='logo'] {
	padding-top: 10px;
	width: 160px;
	margin: 0 auto;
}

img[alt='cycle-logo'] {
	width: 342px;
	padding-top: 10px;
	margin: 0 auto;
}

.card {
	margin-top: 12px;
}


@media screen and (min-width: 992px) {
	.btn-group {
		display: none;
	}

    .collapse {
        display: block !important;
    }
}
